@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;
  margin: 0;
  padding: 0;
}

.title{
  font-family: 'Ubuntu', sans-serif;
}

.intro-image{
  background-image: url('./../components/images/intro/6M8G.gif');
  width: 750px;
  height: 450px;
  border-radius: 10px;
  background-size: cover;
}

.nav-button{
  color: black;
  font-size: 20px;
  margin-right: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    cursor: pointer;
    text-align: center;

    &:hover {
        transform: scale(1.1);
        font-weight: bold;
    }
}

.contact-button{
  &:hover {
    color: rgb(68, 152, 231);
    transform: scale(1.04) translateY(-2px);
}
}

.mywork-button{
  &:hover {
    transform: scale(1.04) translateY(-2px);
}
}

.nav-links{
    display: flex;

    @media screen and (max-width: 750px) {
        display: none;
    }
}

.project-box{
  &:hover{
    transform: scale(1.04) translateY(-2px);
  }
}

.skill-box{
  &:hover{
    transform: scale(1.1) translateY(-2px);
  }
}
@import './components/about';
@import './components/home';
@import './components/navbar'