@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;
  margin: 0;
  padding: 0;
}

.title{
  font-family: 'Ubuntu', sans-serif;
}

.intro-image{
  background-image: url('./../components/images/intro/6M8G.gif');
  border-radius: 10px;
  background-size: cover;
}

.nav-button{
  font-size: 20px;
  margin-right: 10px;
  display: flex;
  align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    cursor: pointer;
    text-align: center;

    &:hover {
      color: rgb(68, 152, 231);
      transform: scale(1.04) translateY(-2px);
        font-weight: bold;
    }
}

.contact-button{
  &:hover {
    color: rgb(68, 152, 231);
    transform: scale(1.04) translateY(-2px);
}
}

.switch{
  display: flex;
  align-items: center;
  background-color: rgb(231, 231, 231);
  padding: 10px;
  border-radius: 15px;
  &:hover {
    color: rgb(68, 152, 231);
    transform: scale(1.04) translateY(-2px);
} 
@media screen and (max-width: 750px) {
  margin-left: 15px;
}
}

.mywork-button{
  &:hover {
    transform: scale(1.04) translateY(-2px);
}
}

.nav-links{
  display: flex;
  align-items: center;

    @media screen and (max-width: 750px) {
        display: none;
    }
}

.project-box{
  &:hover{
    transform: scale(1.04) translateY(-2px);
  }
}

.skill-box{
  &:hover{
    transform: scale(1.1) translateY(-2px);
  }
}

.menu-link{
  color: white;
  font-size: 20px;
  margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    cursor: pointer;
    text-align: center;

    &:hover {
      color: rgb(68, 152, 231);
      transform: scale(1.04) translateY(-2px);
        font-weight: bold;
    }
}

.job-title {
  align-self: flex-end;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  margin: 0 auto 0 auto;
  transform-origin: bottom;
  animation-name: job-title;
  animation-timing-function: ease;
}
@keyframes job-title {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-15px); }
  100% { transform: translateY(0); }
}

@import './components/about';
@import './components/home';
@import './components/navbar'